@import "../../common/style/variable";

.header {
  height: 40px;
  display: flex;
  align-items: center;
  .logo {
  }
  .menu-bar {
    display: flex;
    align-items: center;
    .menu-item {
      color: blue;
      @include trans(1s);
    }
    .menu-item.active {
      color: red;
    }
  }
}
